@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    background-color: #ffffff;
    color: #1a1a1a;
}

body {
    background-color: white;
    color: black;
    min-height: 100vh;
}